@model CumulativeProjectPart1.Models.Teacher
@{
    ViewBag.Title = "Show";
}



<a class="navlink" href="/Teacher/List">Back to Teachers</a>


    <h2>@Model.TeacherFname @Model.TeacherLname</h2>
    <div id="containershow">
        <p><strong>Employee Number: </strong>@Model.EmployeeNumber</p>
        <p><strong>Hire Date: </strong> @Model.HireDate</p>
        <p><strong>Salary: </strong> @Model.Salary</p>
    </div>
